@import "variables";

// Global----------------------------------------------
* {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: $text;
  background-color: $primary;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

h2 {
  text-align: center;
  letter-spacing: 10px;
  padding-bottom: 2rem;
}

section {
  &:nth-child(even) {
    background: $secondary;
  }
}

.container,
.container-fluid,
.row,
.col,
.col-12 {
  margin: 0 !important;
  padding: 0 !important;
}

.container,
.container-fluid,
.row {
  width: 100% !important;
}

// Entrance--------------------------------------------
#entrance {
  width: 100vw;
  height: 100vh;
  position: relative;
  &::before {
    // 下排的綠色色塊
    width: 100%;
    height: 10%;
    content: "";
    background: $success;
    position: absolute;
    bottom: 0%;
  }

  // Navbar
  #nav {
    background: $success;
    .navbar-toggler {
      font-size: 0.5rem;
      border: none;
    }
    .navbar-nav {
      flex-direction: row;
      justify-content: space-around;
      svg {
        width: 20px;
        height: 16px;
        margin-left: 0.5rem;
      }
    }
  }

  // Carousel
  #carousel {
    margin: 0 !important;
    display: flex;
    img {
      height: 45vh;
    }
    .logo {
      color: $warning;
      font-size: 3rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .arrow-icon {
      font-size: 1.5rem;
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// About --------------------------------------------------
#about {
  color: $danger;
  background: $text;
  .container,
  .row {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .col-12 {
    position: relative;
    h2 {
      margin-top: 5rem;
      position: relative;
      &::before {
        content: "";
        width: 10%;
        border-bottom: 1px solid $danger;
        position: absolute;
        top: 50%;
        left: 15%;
      }
      &::after {
        content: "";
        width: 10%;
        border-bottom: 1px solid $danger;
        position: absolute;
        top: 50%;
        right: 15%;
      }
    }
    .accordion-trigger {
      color: $danger;
      font-size: 2rem;
      padding: 0;
      border: none;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: $primary;
      }
    }
  }
  #carousel-fade {
    img {
      height: 35vmin;
    }
  }
  .carousel-inner {
    overflow-y: auto;
  }
  .carousel-caption {
    width: 100%;
    color: inherit;
    letter-spacing: 2.5px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    p {
      letter-spacing: 5px;
      padding-top: 1rem;
    }
  }

  // YT Video
  .ytvideo {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    #accordion {
      visibility: hidden;
    }
    #accordion:checked + .accordion {
      transform: translateX(70vw);
    }
    .accordion {
      transition: all 1.5s ease;
    }
    .card {
      width: 50vmax;
      color: $secondary;
      text-align: center;
      background: $warning;
      .vid-head {
        padding: 0;
      }
      .card-title {
        font-size: 1rem;
      }
    }
  }
}

// Event ------------------------------------------------------------
#event {
  height: auto;
  padding: 2rem;
  .card {
    border: 2px solid $secondary;
    background: transparent;
  }
  .card-body,
  img {
    padding: 2.5rem;
    border-radius: 12.5%;
  }
  .nav-item {
    a {
      color: $secondary;
      transition: all 0.5s ease;
      &:hover {
        transform: translateY(-0.25rem);
        font-weight: bold;
      }
    }
    .active {
      background: transparent;
      border-bottom: 3px solid $info;
      font-weight: bold;
    }
  }
  .tab-content {
    color: $secondary;
  }
  .btn-function {
    .btn {
      color: $warning;
      text-shadow: 1.5px 1.5px 1.5px #333;
      border: none;
      &:hover,
      &:focus {
        background: $info;
      }
    }
  }
}
