@import "variables";
@import "signin";
@import "signup";
@import "menu";
@import "admin";
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

// Global----------------------------------------------
@font-face {
  font-family: "GenYoMinTW";
  src: url("../assets/fonts/GenYoMinTW-R.woff");
}

* {
  font-family: "Noto Sans TC", "微軟正黑體", "GenYoMinTW";
}

html,
body {
  width: 100%;
  height: 100%;
  color: $text;
  background: $primary !important;
  overflow-x: hidden;
  box-sizing: border-box;
}

img {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover !important;
}

h2 {
  text-align: center;
  letter-spacing: 10px;
  padding: 1rem 0;
  font-weight: bold !important;
}

hr {
  padding-bottom: 1.5rem;
}

a:hover {
  text-decoration: none !important;
}

section ~ section {
  padding: 2rem;
  text-align: center;
  &:nth-child(even) {
    background: $warning;
    h2 {
      color: #fff;
    }
  }
}

.icon {
  color: $secondary;
}

.container,
.container-fluid,
.jumbotron,
.row,
.col,
.col-12 {
  padding: 0 !important;
  width: 100% !important;
}

.btn-group {
  padding-top: 15px !important;
}

// Entrance--------------------------------------------
#entrance {
  position: relative;
  &::before {
    // 下排的色塊
    width: 100%;
    height: 3.5%;
    content: "";
    background: $warning;
    box-shadow: -2px -2px 10px #333;
    position: absolute;
    bottom: -1%;
    z-index: 9;
  }

  // Navbar
  #nav {
    padding: 0 1.5rem;
    background: $warning;
    box-shadow: 2px 2px 10px #333;
    z-index: 9;
    .navbar-nav {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  // Sidebar
  #list {
    padding: 1rem 2rem;

    .btn {
      color: $primary;
      margin-bottom: 30px;
      letter-spacing: 5px;
      border: none;
      background: none;
    }

    span {
      margin-left: 10px;
    }

    h2 {
      color: $warning;
    }

    hr {
      border-color: $warning;
    }
  }

  // Carousel
  #carousel {
    display: flex;
    .row {
      margin: 0;
      height: 95vh;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      );
    }

    .carousel-row {
      @media (min-width: 768px) {
        margin-right: 2.5px;
      }
    }

    .slide-left {
      @media (min-width: 768px) {
        margin-left: 0.5px;
      }
    }

    .logo {
      width: 150px;
      height: 150px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.9;
      z-index: 1;
    }

    .slide {
      height: 47.5vh;
      @media (min-width: 768px) {
        height: 95vh;
      }
    }
  }
}

// About --------------------------------------------------
#about {
  color: $danger;
  background: $text;
  .container,
  .row {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .col-12 {
    position: relative;
    h2 {
      color: $danger;
      margin-top: 5rem;
      position: relative;
      &::before {
        content: "";
        width: 10%;
        border-bottom: 1px solid $danger;
        position: absolute;
        top: 50%;
        left: 15%;
      }
      &::after {
        content: "";
        width: 10%;
        border-bottom: 1px solid $danger;
        position: absolute;
        top: 50%;
        right: 15%;
      }
    }
    .accordion-trigger {
      color: $danger;
      font-size: 2rem;
      padding: 0;
      border: none;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: $primary;
      }
    }
  }
  #carousel-fade {
    img {
      height: 35vmin;
    }
  }
  .carousel-inner {
    overflow-y: auto;
  }
  .carousel-caption {
    width: 100%;
    color: inherit;
    letter-spacing: 2.5px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    h6 {
      letter-spacing: 5px;
      padding-top: 1rem;
      line-height: 2;
    }
  }
  .icon {
    padding: 0 1.5rem;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    &:hover {
      color: $primary;
    }
  }
  .icon-arrow {
    margin-top: 3.5rem;
  }

  // YT Video
  .ytvideo {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    #accordion {
      visibility: hidden;
    }
    #accordion:checked + .accordion {
      transform: translateX(95vw);
    }
    .accordion {
      transition: all 2s ease;
    }
    .card {
      width: 50vmax;
      color: $secondary;
      text-align: center;
      background: $warning;
      .vid-head {
        padding: 0;
      }
      .card-title {
        font-size: 1rem;
      }
    }
  }
}

// Event ------------------------------------------------------------
#event {
  margin-bottom: 2rem;
  .card {
    height: 75vmin !important;
    padding: 1rem;
    border: 2px solid $secondary;
    background: transparent;
    @media (min-width: 768px) {
      img {
        max-width: 75% !important;
        margin: auto;
      }
    }
  }
  .nav-item {
    a {
      color: $secondary;
      transition: all 0.5s ease;
      &:hover {
        transform: translateY(-0.25rem);
        font-weight: bold;
      }
    }
    .active {
      background: transparent;
      border-bottom: 3px solid $info;
      font-weight: bold;
    }
  }
  .tab-content {
    color: $secondary;
  }
  .btn-function {
    position: absolute;
    left: 0%;
    bottom: 0%;
    .btn {
      background: $danger;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 5px;
      border: none;
      transition: all 0.5s ease;
      &:hover {
        background: #fff;
        color: $secondary;
      }
    }
    .btn-right {
      background: $secondary;
      &:hover {
        color: $danger;
      }
    }
  }
  .menu-file {
    color: $secondary;
    font-size: 1rem;
    letter-spacing: 5px;
  }
}

// Ingredient ------------------------------------------------------------------------
#ingredient {
  .wrapper {
    margin: auto;
  }
  .friend {
    margin: 1.5rem 0;
    text-align: left;
    h4 {
      color: $secondary;
      font-weight: bold;
    }
  }
  .box-bg {
    width: 100%;
    background: $success-50;
    border-radius: 5px;
    padding-bottom: 1rem;
    padding-right: 1rem;
    .row {
      margin: 0;
    }
    .box {
      margin-top: 1rem;
      margin-left: 1rem;
      box-shadow: 1px 1px 5px $text;
    }
  }

  .icon-arrow {
    color: $secondary;
  }

  .ingredient-col {
    padding: 0;
  }

  // VueCardCarousel
  .overview {
    margin-top: 2rem !important;
  }
  .vcc {
    width: 100%;
    img {
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
}

// Contact ---------------------------------------------------------
#contact {
  .wrapper {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 5px $text;
    @media (min-width: 768px) {
      margin-left: 25%;
      width: 75vmin;
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
  .msg-form {
    @media (min-width: 768px) {
      padding: 0 3.5rem;
    }
    input,
    textarea {
      background: transparent;
    }
    .form-control {
      text-align: left;
      border: none !important;
      &:focus {
        box-shadow: 0 0 0 1px $secondary;
      }
    }
    .btn-link {
      width: 100%;
      color: $secondary;
      text-decoration: none;
      border: 1px solid $secondary;
      border-radius: 5px;
      &:hover {
        border: 1px solid $text;
        color: $warning;
        background: $text;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem $secondary;
      }
    }
  }
  .icon {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    color: $secondary;
    font-weight: bold;
    text-align: left;
    @media (min-width: 768px) {
      p {
        margin-left: 1rem;
      }
      svg {
        margin-top: 7.5px;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
  iframe {
    max-width: 100%;
    height: 600px;
    border-radius: 10px;
    filter: contrast(0.5);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px $text;
    @media (min-width: 768px) {
      box-shadow: 0px 0px 10px $text;
      position: absolute;
      left: -5%;
      top: 7.5%;
    }
    &:hover {
      filter: contrast(1);
    }
  }
}

// FatFooter ----------------------------------------------------------------
#fatFooter {
  padding: 0;
  position: relative;
  background: $text;

  // Sub-brand
  .subBrand {
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.75),
        rgba(172, 163, 180, 0.25)
      ),
      url("../../public/images/bg_subbrand.jpg") no-repeat center/cover;
  }
  .jumbotron {
    color: rgba(245, 245, 245, 0.9);
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 !important;

    p,
    small {
      padding: 0 7.5px !important;
      letter-spacing: 5px;
      margin-top: 1rem;
      line-height: 1.25;
      &:nth-last-child(2) {
        letter-spacing: 2px;
      }
    }
    @media (min-width: 768px) {
      text-align: left;
      justify-content: center;
      align-items: flex-start;
      padding-left: 10% !important;
      p {
        padding-left: 1.5rem;
      }
    }

    // LearnMore
    a {
      margin-top: 1.5rem;
      color: rgb(170, 170, 170);
      background: #000;
      text-decoration: none;
      border: 2px solid rgb(170, 170, 170);
      border-radius: 0;
      opacity: 0.5;
      transition: all 0.5s ease 0s;
      &:hover {
        opacity: 1;
        transform: scale(0.95);
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  // Footer
  .footer {
    color: $info;
    padding: 1rem 0 !important;
    position: relative;
    &::before {
      content: "© 2020 19101 cuisine. ALL RIGHTS RESERVED.";
      width: 100%;
      opacity: 0.5;
      font-size: 0.75rem;
      position: absolute;
      left: 50%;
      bottom: 2.5%;
      transform: translateX(-50%);
    }
    .left-brand,
    .right-brand {
      width: 150px;
      height: 150px;
      padding: 0.75rem;
    }
    .row {
      margin: auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 2rem !important;
      @media (min-width: 768px) {
        text-align: left;
        flex-direction: row;
        height: 25vmin;
        padding-left: 15% !important;
      }
    }
    .wrapper {
      a {
        color: inherit;
        text-decoration: none;
        opacity: 0.75;
        transition: all 0.75s ease;
        &:hover {
          opacity: 1;
          color: $text;
          background: $info;
        }
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
