@import "variables";

// Global----------------------------------------------
* {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: $text;
  background: $primary;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

h2 {
  text-align: center;
  letter-spacing: 10px;
  padding: 1rem 0;
  text-shadow: 0px 2px 2px #fff;
}

hr {
  padding-bottom: 1.5rem;
}

a:hover {
  text-decoration: none;
}

section ~ section {
  padding: 2rem;
  text-align: center;
  &:nth-child(even) {
    background: $warning;
    h2 {
      color: #fff;
      text-shadow: 0px 2px 2px $text;
    }
  }
}

.icon {
  color: $secondary;
}

.container,
.container-fluid,
.jumbotron,
.row,
.col,
.col-12 {
  padding: 0 !important;
  width: 100% !important;
}

// Entrance--------------------------------------------
#entrance {
  width: 100vw;
  height: 100vh;
  position: relative;
  // &::before {
  //   // 下排的色塊
  //   width: 100%;
  //   height: 5%;
  //   content: "";
  //   background: $warning;
  //   box-shadow: -2px -2px 10px #333;
  //   position: absolute;
  //   bottom: 0%;
  //   z-index: 9;
  // }

  // Navbar
  #nav {
    padding: 0 1.5rem;
    font-size: 0.75rem;
    background: $warning;
    box-shadow: 2px 2px 10px #333;
    z-index: 9;
    .navbar-toggler {
      font-size: 0.75rem;
      border: none;
      &:focus {
        outline: 5px auto $secondary;
      }
    }
    .navbar-nav {
      flex-direction: row;
      justify-content: space-around;
      svg {
        width: 20px;
        height: 15px;
        margin-left: 0.5rem;
      }
    }
  }

  // Carousel
  #carousel {
    margin: 0 !important;
    display: flex;
    img {
      height: 50vh;
    }
    .row {
      margin: 0;
    }
    .logo {
      width: 150px;
      height: 150px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.9;
      z-index: 99;
    }
    .icon {
      width: 100%;
      margin: 0;
      text-align: center;
      z-index: 10;
    }
  }
}

// About --------------------------------------------------
#about {
  color: $danger;
  background: $text;
  .container,
  .row {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .col-12 {
    position: relative;
    h2 {
      color: $danger;
      margin-top: 5rem;
      position: relative;
      &::before {
        content: "";
        width: 10%;
        border-bottom: 1px solid $danger;
        position: absolute;
        top: 50%;
        left: 15%;
      }
      &::after {
        content: "";
        width: 10%;
        border-bottom: 1px solid $danger;
        position: absolute;
        top: 50%;
        right: 15%;
      }
    }
    .accordion-trigger {
      color: $danger;
      font-size: 2rem;
      padding: 0;
      border: none;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: $primary;
      }
    }
  }
  #carousel-fade {
    img {
      height: 35vmin;
    }
  }
  .carousel-inner {
    overflow-y: auto;
  }
  .carousel-caption {
    width: 100%;
    color: inherit;
    letter-spacing: 2.5px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    p {
      letter-spacing: 5px;
      padding-top: 1rem;
    }
  }
  .icon {
    padding: 0 1.5rem;
    font-size: 1.5rem;
    transition: all 0.5s ease;
    &:hover {
      color: $primary;
    }
  }
  .icon-arrow {
    margin-top: 3.5rem;
  }

  // YT Video
  .ytvideo {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    #accordion {
      visibility: hidden;
    }
    #accordion:checked + .accordion {
      transform: translateX(95vw);
    }
    .accordion {
      transition: all 2s ease;
    }
    .card {
      width: 50vmax;
      color: $secondary;
      text-align: center;
      background: $warning;
      .vid-head {
        padding: 0;
      }
      .card-title {
        font-size: 1rem;
      }
    }
  }
}

// Event ------------------------------------------------------------
#event {
  margin-bottom: 2rem;
  .card {
    border: 2px solid $secondary;
    background: transparent;
  }
  .card-body,
  img {
    padding: 2rem;
    border-radius: 50%;
  }
  .nav-item {
    a {
      color: $secondary;
      transition: all 0.5s ease;
      &:hover {
        transform: translateY(-0.25rem);
        font-weight: bold;
      }
    }
    .active {
      background: transparent;
      border-bottom: 3px solid $info;
      font-weight: bold;
    }
  }
  .tab-content {
    color: $secondary;
  }
  .btn-function {
    .btn {
      color: $warning;
      font-size: 1.5rem;
      text-shadow: 1.5px 1.5px 1.5px #333;
      border: none;
      &:hover,
      &:focus {
        background: $info;
      }
    }
  }
}

// Ingredient ------------------------------------------------------------------------
#ingredient {
  .wrapper {
    margin: auto;
  }
  .friend {
    margin: 1.5rem 0;
    text-align: left;
    h4 {
      color: $secondary;
      font-weight: bold;
    }
  }
  .box {
    width: 100%;
    padding: 1rem;
    background: $success-50;
    img {
      border-radius: 15px;
    }
  }

  // VueCardCarousel
  .overview {
    margin-top: 2rem !important;
  }
  .vcc {
    width: 100%;
    img {
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
}

// Contact ---------------------------------------------------------
#contact {
  .wrapper {
    font-size: 1.25rem;
    padding: 1rem;
    background: $danger;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0px 5px $text;
    @media (min-width: 768px) {
      margin-left: 25%;
      width: 75vmin;
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
  .msg-form {
    padding: 0 3.5rem;
    input,
    textarea {
      border: none;
      border-bottom: 1px solid $secondary;
      background: transparent;
    }
    .form-control:focus {
      box-shadow: 0 0 0 0.2rem $warning;
    }
    .btn-link {
      color: $secondary;
      text-decoration: none;
      border: 1px solid $secondary;
      border-radius: 5px;
      &:hover {
        border: 1px solid $text;
        color: $warning;
        background: $text;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem $warning;
      }
    }
  }
  .icon {
    width: 75%;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    color: $text;
    p {
      color: #fff;
      text-shadow: 1.5px 1px 1.5px $text;
      margin-left: 1.5rem;
      text-align: left;
    }
    svg {
      width: 24px;
      height: 24px;
      font-size: 1.5rem;
    }
  }
  iframe {
    max-width: 100%;
    border-radius: 10px;
    filter: contrast(0.5);
    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px $text;
    @media (min-width: 768px) {
      box-shadow: 0px 0px 10px $text;
      position: absolute;
      left: -5%;
      top: 7.5%;
    }
    &:hover {
      filter: contrast(1);
    }
  }
}

// FatFooter ----------------------------------------------------------------
#fatFooter {
  padding: 0;
  position: relative;
  background: $text;

  // Sub-brand
  .subBrand {
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.75),
        rgba(172, 163, 180, 0.25)
      ),
      url("../../public/images/bg_subbrand.jpg") no-repeat center/cover;
  }
  .jumbotron {
    height: 100vh;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      letter-spacing: 5px;
      margin-top: 1rem;
      &:nth-last-child(2) {
        letter-spacing: 2px;
      }
    }
    @media (min-width: 768px) {
      text-align: left;
      justify-content: center;
      align-items: flex-start;
      padding-left: 10% !important;
      p {
        padding-left: 1.5rem;
      }
    }

    // LearnMore
    a {
      margin-top: 1.5rem;
      color: rgb(170, 170, 170);
      background: #000;
      text-decoration: none;
      border: 2px solid rgb(170, 170, 170);
      border-radius: 0;
      opacity: 0.5;
      transition: all 0.5s ease 0s;
      &:hover {
        opacity: 1;
        transform: scale(0.95);
      }
      &:focus {
        box-shadow: none;
      }
    }
  }

  // Footer
  .footer {
    color: $info;
    padding: 1rem 0 !important;
    position: relative;
    &::before {
      content: "© 2020 19101 cuisine. ALL RIGHTS RESERVED.";
      width: 100%;
      opacity: 0.5;
      font-size: 0.75rem;
      position: absolute;
      left: 50%;
      bottom: 2.5%;
      transform: translateX(-50%);
    }
    .left-brand,
    .right-brand {
      width: 150px;
      height: 150px;
      padding: 0.75rem;
    }
    .row {
      margin: auto;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 2rem !important;
      @media (min-width: 768px) {
        text-align: left;
        flex-direction: row;
        height: 25vmin;
        padding-left: 15% !important;
      }
    }
    .wrapper {
      a {
        color: inherit;
        text-decoration: none;
        opacity: 0.75;
        transition: all 0.75s ease;
        &:hover {
          opacity: 1;
          color: $text;
          background: $info;
        }
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
